<div class="container">
  <div class="logout box">

    <div class="info">
      <h1><%= t 'two_factor_not_configured.title' %></h1>
      <p>
        <%= t 'two_factor_not_configured.message' %>
      </p>
    </div>
    <div class="logo">
      <%= image_tag "logo.png" %>
    </div>
  </div>
</div>
